<div *ngIf="kitchen">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <span style="font-size: medium">{{kitchen.title}}</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-content style="text-align: center">
      <p>{{kitchen.description}}</p>
      <p>{{kitchen.address}}</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-between">

      <mat-slide-toggle *ngIf="kitchen.pureVeg" checked disabled>Pure veg</mat-slide-toggle>
      <mat-slide-toggle *ngIf="!kitchen.pureVeg">Veg only!</mat-slide-toggle>
      <div>
        <mat-icon>favorite_border</mat-icon>
        <span> 100</span>
      </div>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="menuItems$|async as items">
    <mat-toolbar *ngIf="summary" style="font-size: medium">
      <span>Items</span>
      <span class="spacer"></span>
      <span>[ {{summary.count}} ]</span>
      <span class="spacer"></span>
      <span>CAD {{summary.total}}</span>
    </mat-toolbar>
    <mat-list>

      <mat-list-item *ngFor="let item of items">
        <mat-icon mat-list-icon [color]="item.isNonVeg? 'warn':'accent'">adjust</mat-icon>
        <h4 mat-line>{{item.title}}</h4>
        <p mat-line>
          [ CAD {{item.price}} ]
        </p>

        <div *ngIf="item.qty === 0 else inOrder">
          <button mat-stroked-button (click)="updateMyOrder(item.id, 1)">Add</button>
        </div>

        <ng-template #inOrder>
          <button mat-icon-button (click)="updateMyOrder(item.id, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <span>{{item.qty}}</span>
          <button mat-icon-button (click)="updateMyOrder(item.id, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>

      </mat-list-item>
    </mat-list>
  </div>
  <button 
    (click)="prepareOrder()" 
    mat-fab style="position: fixed; bottom:20px; right: 20px; z-index:99"
    [disabled]="summary.count === 0">
    <mat-icon>done</mat-icon>
  </button>
</div>