<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div *ngIf="auth.currUser$ | async as user">
      
        <div *ngIf="user.isAnonymous else registeredUser">
          <mat-toolbar color="primary">

            <a mat-mini-fab [routerLink]="['/user/', user.uid]" (click)="drawer.toggle()">
              <mat-icon>perm_identity</mat-icon> {{user.displayName}}
            </a>

            <span class="spacer"></span>

            <button mat-stroked-button (click)="drawer.toggle()" [routerLink]="['/user/', user.uid]">
              <span>Sign in</span>
            </button>

          </mat-toolbar>
        </div>
        
        <!-- User logged in -->
        <ng-template #registeredUser>
          <mat-toolbar color="primary">
            <span class="mat-body" [routerLink]="['/user/', user.uid]">{{user.displayName}}</span>
            <span class="spacer"></span>
            <button mat-stroked-button (click)="auth.signOut() && drawer.toggle()">
              <span>Sign out</span>
            </button>
          </mat-toolbar>
        </ng-template>
      </div>
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <mat-icon>share</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>