<div fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Have an account?</span>
            <span class="spacer"></span>
            <button mat-stroked-button (click)="googleSignIn()">Login</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div>
        <div style="margin:8px">
            <div style="margin:8px">
                <h1>Hungry?</h1>
                <h2>Find home cooked food near you...</h2>
                </div>
        </div>
    </div>
    <button mat-fab style="position: fixed; bottom:20px; right: 20px" (click)="enterTheApp()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>